.catDiv {
    width: 100%;
    height: 500px;
    text-align: center;
}

.catDiv img {
    display: block;
    max-height: 50%;
    margin-inline: auto;
}

.catDiv p {
    display: block;
    text-align: center;
    max-height: 50%;
    margin-top: 50px;
}

.catDiv div {
    width: 100%;
    height: 50px;
}

.catDiv button {
    bottom: 5%;
    position: absolute;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: -100px;
    margin-right: 100px;
}
